[Unit]
Description=Synchronise StreamDeck states from aw-deck state.json
Wants=streamdeck-ui.service aw-deckd.service
After=graphical-session.target streamdeck-ui.service aw-deckd.service

[Service]
Type=simple
Environment=DISPLAY=:1
Environment=XAUTHORITY=%t/gdm/Xauthority
Environment=PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
# ExecStartPre=/usr/bin/sleep 0.5
ExecStart=%h/.local/bin/aw-deck-sync
Restart=always
RestartSec=1s

[Install]
WantedBy=graphical-session.target
