[Unit]
Description=Switch StreamDeck to page 0 before system sleep
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
Wants=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/streamdeckc -d 0 -a SET_PAGE -p 0

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
WantedBy=suspend-then-hibernate.target
