[Unit]
Description=StreamDeck UI (streamdeck-linux-gui)
After=graphical-session.target
PartOf=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple

# Contexte graphique X11
Environment=QT_QPA_PLATFORM=xcb
Environment=DISPLAY=:1
Environment=XAUTHORITY=%t/gdm/Xauthority
Environment=PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

# Petit délai pour laisser la session graphique se stabiliser
ExecStartPre=/usr/bin/sleep 1

# Binaire GUI
ExecStart=%h/.local/bin/streamdeck -n

Restart=always
RestartSec=2

[Install]
# Lie l’unité à la session graphique
WantedBy=graphical-session.target
